
:host{
    
    .step-wizard-container{
        display: table;
        width: 100%;
        position: relative;
        margin: 0px 0px 0px 12px;
        margin-left: auto;
        margin-right: auto;
        
        .stepwizard-row {
            display: table-row;
            font-size: 14px;

            .step {
                display: table-cell;
                line-height: 3;
                background-color: #134651;
                text-align: center;
                position: relative;
                color: #fff;
            }
            .step-0 {
                @extend .step;
            }
            
            .step-1 {
                @extend .step;
                opacity: 0.8;
            }
            .step-2 { 
               @extend .step;
                opacity: 0.7; 
            }

            .step-3 {
                @extend .step;
                opacity: 0.6;
            }
            .active {
                display: block;
                padding-right: 10px;
                background-color: #e7bb05;
                border-left: 10px solid #fac900;
                background-image: url(/assets/images/arrow-wiz.png);
                background-repeat: no-repeat;
                background-position: right;
            }
            .hover-step{
                &:hover{
                    cursor: pointer;
                }
            }
        }

    }
}

