<erag-table-layout>
    <ng-container class="table-header-right-side">
        <div class="filter-by-header">
            <span>Filter by</span>
            <erad-dropdown [show]="showFilterDropdown"
                           width="170px"
                           icon ="arrow-circle-down"
                           [tenants]="dropdownStatusList"
                           [selectedTenant]="dropdownStatusList[1]"
                           (select)="onFilterByDropdownSelected($event)"
                            (toggle) ="onFilterByDropdownToggle()">
            </erad-dropdown>
        </div>
        <div class="date-rage-header">
            <span>Date range</span>

            <date-time-picker 
                              [show]="showFromDatePicker"
                              direction="dropdown"
                              width="161px"
                              placeholder="From"
                              [maxDate] ="headerControls.toDate"
                              (toggle)="onDatePickerToggle('fromDate')"
                              (selected)="onDatePickerSelected($event, 'fromDate')">
            </date-time-picker>
            <date-time-picker 
                              [show]="showToDatePicker"
                              direction="dropdown"
                              width="161px"
                              placeholder="To"
                              [minDate] ="headerControls.fromDate"
                              (toggle)= "onDatePickerToggle('toDate')"
                              (selected)="onDatePickerSelected($event, 'toDate')">
            </date-time-picker>
        </div>
        <div class="search-header">
            <erag-search (search)="onInputSearch($event)"></erag-search>
        </div>
            
    </ng-container>

    <ng-container class="table-body">
        <ng-container *ngIf="approvalList?.length; else noDataMessage">
            <table class="table ">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="checkAllApproval" 
                                  *ngIf="isHavingPendingApprovalTenant"
                                  [checked]="isAllSelected"  
                                  (change)="toggleApprovalList()" name="isAllSelected">
                        </th>
                        <th>Request ID <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                        <th>Type <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                        <th>Tenant / Organization <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                        <th>Status</th>
                        <th>Created By <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                        <th>Created On <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of approvalList; trackBy: trackByFn">
                    <tr>
                        <td>
                            <input type="checkbox"  
                                   *ngIf="checkApprovalPendingCheckbox(item)"
                                   [checked]="item.checked" 
                                   (change)="onCheckboxChange(item)">
                        </td>
                        <td>{{ item.id }}</td>
                        <td>
                            <ng-container *ngIf="isTenantType(item); else nonClickable">
                              <span class="tenant-type" (click)="item.showUsersTable = !item.showUsersTable"> <i class="fa fa-chevron-down pro-arrow" ></i> {{item.entity_type}}</span>
                            </ng-container>
                            <ng-template #nonClickable>
                                <span>{{item.entity_type}}</span>
                            </ng-template>
                        </td>
                        <td>{{ item.entity_name}}</td>
                        <td>{{ item.status}}</td>
                        <td>{{ item.user.firstname}} {{ item.user.lastname}}</td>
                        <td>{{ item.created_on | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>
                            {{item.comments}}
                            <!-- need to write the logic for comments with popup -->
                        </td>
                    </tr>
                    <tr *ngIf="!!item.showUsersTable">
                        <td colspan="10" class="user-table-container">
                            <div class="tenant-table">
                                <global-approval-tenant-user-table [tenant]="item"></global-approval-tenant-user-table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </ng-container>

    <ng-container class="table-footer-left-side" *ngIf="isHavingPendingApprovalTenant">
        <div>
            <button class="btn btn-cust" 
                    *ngIf="isAllowable"
                    (click)="onBtnApproveCLick()" 
                    [disabled]="!isTenantSelected">
                Approve
            </button>

            <button class="btn btn-cust" 
                    *ngIf="isAllowable"
                    (click)="onBtnRejectCLick()" 
                    [disabled]="!isTenantSelected">
                Reject
            </button>
        </div>
    </ng-container>

    <ng-container class="table-footer-right-side" *ngIf="paginationControls.totalItems > paginationControls.itemsPerPage">
        <div class="pull-right">
            <erag-pagination [totalItems]="paginationControls.totalItems"
                             [itemsPerPage]="paginationControls.itemsPerPage"
                             (pageChange)="onPageChange($event)">

            </erag-pagination>
        </div>
        <div class="pull-right">
            <erad-dropdown  direction="dropup" 
                            icon="arrow-circle-up"
                            width ="66px"
                            [tenants]="paginationChoiceList" 
                            [selectedTenant]="paginationChoiceList[1]"
                            [show]="showPaginationDropdown" 
                            (select)="onPaginationDropdownSelected($event)" 
                            (toggle)="onPaginationDropdownToggle()">
            </erad-dropdown>
        </div>
    </ng-container>

</erag-table-layout>

<ng-template #noDataMessage>
    <div class="text-center message">
        <span>No Request are available</span>
    </div>
</ng-template>