<form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="submit()">
    <div class="col-md-12 padding-zero">
        <div class='heading'>
            <h4>Change Password </h4>
        </div>
        <div class="col-md-12">
            <div class="user-info"><i class="glyphicon glyphicon-user"></i></div>
            <div class="panel panel-default edit-profile">

                <div class="text-center user-heading"><br>
                    <h4>{{userName}}</h4>
                    <p>ID : {{userId}}</p>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-12">
                            <label>Current Password</label>
                            <input type="password" class="form-control" formControlName="password">
                            <control-error [parent]="resetPasswordForm" control="password" label="Password" [errors]="{ required : 'is required' , minlength : 'should be minimum 8 characters',
                     maxlength : 'should be maximum 16 characters', invalid : 'is invalid', notexist: 'is incorrect'}">
                            </control-error>
                        </div>
                        <div class="col-sm-12">
                            <label>New Password</label>
                            <input type="password" class="form-control" name = "newPassword" formControlName="newPassword" (blur) = "resetPasswordFormValidations()">
                            <control-error [parent]="resetPasswordForm" control="newPassword" label="New Password" [errors]="{ required : 'is required' , minlength : 'should be minimum 8 characters',
                     maxlength : 'should be maximum 16 characters', invalid : 'is invalid'}">
                            </control-error>
                            <div class="cpassword-criteria" *ngIf="isNotValidPassword">
                                <h4>Your Password must have:</h4>
                                <ol>
                                    <li>No old password</li>
                                    <li>Minimum 8 characters</li>
                                    <li>Maximum 16 characters</li>
                                    <li>Atleast 1 Upper case</li>
                                    <li>Atleast 1 Lower case</li>
                                    <li>Atleast 1 Special character</li>
                                    <li>Atleast 1 Number</li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Confirm New Password</label>
                            <input type="password" class="form-control" formControlName="confirmPassword">
                            <control-error [parent]="resetPasswordForm" control="confirmPassword" label="New Password" [errors]="{ required : 'is required' , minlength : 'should be minimum 8 characters',
                     maxlength : 'should be maximum 16 characters', invalid : 'is invalid', mismatch : 'not matched'}">
                            </control-error>
                        </div>

                        <div class="col-sm-12 text-right" style="margin-top:15px">
                            <button type="submit" class="btn btn-cust-com" [disabled] = "resetPasswordForm.invalid">Save
                                </button>
                            <button type="button" class="btn btn-cust">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</form>