
<erag-table-layout>
    <ng-container class="table-header-left-side">
        <erag-button label='Add URL' (click)="onBtnAddCLick()"></erag-button>
    </ng-container>
    <ng-container class="table-header-right-side">
        <div class="search-header">
            <erag-search (search)="onInputSearch($event)"></erag-search>
        </div>
    </ng-container>
    <ng-container class="table-body" *ngIf="urlList?.length; else noDataMessage">
        <ng-container>
<table class="table" >
    <thead>
        <tr>
            <th *ngIf="user.role === 'Super User' || user.role ==='Tenant Admin'">
                <input type="checkbox" id="checkallurl" [checked]="checkedAll" (change)="toggleAllUrl()">
            </th>
            <th>Type</th>
            <th>Url</th>
            <th>Port</th>
            <th>NTLM Auth</th>
            <th>Approver</th>
            <th>Created By</th>
            <!-- <th>Modified By</th> -->
            <th>Status</th>
            <th>Enable/Disable</th>
            <th>Start Date</th>
            <th>Valid Till</th>
            <th *ngIf="user.role === 'Super User' || user.role ==='Tenant Admin'">Edit</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="urlList && urlList.length">
            <tr *ngFor="let url of urlList; trackBy: trackByFn">
                <td *ngIf="user.role === 'Super User' || user.role ==='Tenant Admin'">
                    <input type="checkbox" [checked]="url.checked" (change)="onCheckboxChange(url)">
                </td>
                <td>{{url.type}}</td>
                <td>{{url.url}}</td>
                <td>{{url.settings.port}}</td>
                <td>{{url.settings.is_ntml}}</td>
                <td>{{url.approver.firstname}} {{url.approver.lastname}}</td>
                <td>{{url.user.firstname}} {{url.user.lastname}}</td>
                <!-- <td>{{url.user.firstname}} {{url.user.lastname}}</td> -->
                <td title="{{url.status}}">
                    <i class="fa fa-circle" [ngClass]="getStatusClass(url)" aria-hidden="true"></i>
                </td>
                <td>{{url.settings.enableflag}}</td>
                <td>{{ url.effect_from | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{ url.effect_to | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td *ngIf="user.role === 'Super User' || user.role === 'Tenant Admin'">
                    <button class="glyphicon glyphicon-pencil edit-button" title="{{url.id}}" (click)="onClickEditIcon(url)"></button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

</ng-container>
    </ng-container>
    <ng-container class="table-footer-left-side" *ngIf="urlList?.length;">
        <div>
            <button class="btn btn-cust btn-footer-left-side" (click)="onBtnDeleteCLick()" [disabled]="!isURLSelected">Delete</button>
        </div>
    </ng-container>
    <ng-container class="table-footer-right-side" *ngIf="paginationControls.totalItems > paginationControls.itemsPerPage">
        <div class="pull-right">
            <erag-pagination [totalItems]="paginationControls.totalItems" [itemsPerPage]="paginationControls.itemsPerPage" (pageChange)="onPageChange($event)">

            </erag-pagination>
        </div>
        <div class="pull-right">
            <erad-dropdown direction="dropup" icon="arrow-circle-up" width="66px" [tenants]="paginationChoiceList" [selectedTenant]="paginationChoiceList[1]" [show]="showPaginationDropdown" (select)="onPaginationDropdownSelected($event)" (toggle)="onPaginationDropdownToggle()">
            </erad-dropdown>
        </div>
    </ng-container>
</erag-table-layout>

<ng-template #noDataMessage>
    <div class="text-center message">
        <span>No URLs are available</span>
    </div>
</ng-template>