:host {
    ul {
        li > a {
            margin-right: 2px;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
            background-color: #628d9e;
            color: #fff;
            padding: 10px 35px 10px 35px;

            &.active {
                color: #555 !important;
                cursor: default !important;
                background-color: #fff !important;
                border: 1px solid #ddd;
                border-bottom-color: transparent;
            }

            &:hover {
                cursor: pointer;
                background-color: #4f7280;
            }
        }
    }

    .tab-content {
        background-color: #fff;
        border: 1px solid #e7e7e7;
        margin-bottom: 20px;
        padding: 25px 20px 15px 20px;
        border-radius: 0px 5px 5px 5px;
        margin-top: -1px;
        min-height: 200px;
    }
}
