<div class="header-title"><span (click)="goToGroupProvision();">Group Provisioning </span> » Add Group</div>
<div class="tenant-add-edit-url-container" >
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
         <div class="row ">
        <div class="col-sm-12 ">
                <div class="form-group">
                    <label>Group Name</label>
                    <input class="form-control" formControlName="groupname" placeholder="Enter Group Name" id="userfirstname" maxlength="20">
                    <control-error  [parent]="groupForm"
                                        control="groupname"
                                        label ="Group name"
                                        [errors]="{ required : 'is required'}">
                    </control-error>
                </div>
            </div>
             </div>
           
            <!-- End user form -->
            <div formArrayName="endusers">
                <div *ngFor="let enduser of groupForm.controls.endusers.controls; let i=index" class="panel panel-default">
                    <div class="panel-heading">
                    <span>End User {{i + 1}}</span>
                    <span class="glyphicon glyphicon-remove pull-right" *ngIf="groupForm.controls.endusers.controls.length > 1" (click)="removeEndUser(i)"></span>
                    </div>
                    <div class="panel-body" [formGroupName]="i">
                    <enduser [enduserForm]="groupForm.controls.endusers.controls[i]"></enduser>
                    </div>
                </div>
            </div>
            <!-- End user form -->

            <div class="col-md-12 padding-zero">
                <div class="col-md-4 padding-zero">
                    <button type="button" class="btn btn-info" (click)="addEndUser()">Add End User</button>
                </div>
                <div class="col-md-8 text-right padding-zero">
                    <button type="submit" id="save-margin" [disabled]="groupForm.invalid" class="btn btn-save">Save</button>
                    <button class="btn btn-cancel" (click)="goToGroupProvision();">Cancel</button>
                </div>
            </div>
        </form>
</div>