:host {
    .header-title{
        font-size: 18px;
        border-bottom: 1px solid #ddd;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .padding-zero{padding:0 !important}
    .tenant-add-edit-url-container {
        padding: 0px;
        margin-top: 0px;
        padding: 20px 0px 20px 0px;
        .margin-top-input{
            margin-top:10px;
        }
        .form-container {
            .date-container {
                padding: 5px 0px 0px 0px;
            }
            .float-left {
                float: left;
            }
            .float-none {
                float: none;
            }
            .textWidth {
                width: 80px;
            }
            .approver-container,
            .group-container,
            .ip-container {
                padding-top: 5px;
            }
            .ntlm-sub-container {
                margin-top: 8px;
            }
            .geo-container {
                float: left;
                padding-left: 5px;
            }
            .validate-container {
                .validate-switch {
                    position: relative;
                    width: 50px;
                    .validate-switch-checkbox {
                        display: none;
                    }
                    .validate-switch-label {
                        display: block;
                        overflow: hidden;
                        cursor: pointer;
                        border: 0px solid #76b83d;
                        border-radius: 13px;
                        .validate-switch-inner {
                            display: block;
                            width: 200%;
                            margin-left: -100%;
                            transition: margin 0.3s ease-in 0s;
                        }
                        .validate-switch-inner:before,
                        .validate-switch-inner:after {
                            display: block;
                            float: left;
                            width: 50%;
                            height: 22px;
                            padding: 0;
                            line-height: 24px;
                            font-size: 10px;
                            color: white;
                            box-sizing: border-box;
                        }
                        .validate-switch-inner:before {
                            content: "ON";
                            padding-left: 10px;
                            background-color: #76b83d;
                            color: #FFFFFF;
                        }
                        .validate-switch-inner:after {
                            content: "OFF";
                            padding-right: 10px;
                            background-color: red;
                            color: #fff;
                            text-align: right;
                        }
                        .validateswitch-switch {
                            display: block;
                            width: 10px;
                            margin: 6px;
                            background: #FFFFFF;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 27px;
                            border: 2px solid #fff;
                            border-radius: 25px;
                            transition: all 0.3s ease-in 0s;
                        }
                    }
                    .validate-switch-checkbox:checked+.validate-switch-label .validateswitch-inner {
                        margin-left: 0;
                    }
                    .validate-switch-checkbox:checked+.validate-switch-label .validateswitch-switch {
                        right: 0px;
                    }
                }
                .device-container {
                    float: left;
                    padding-left: 5px;
                }
                .user-container,
                .cookie-container {
                    float: left;
                    padding-left: 5px;
                }
            }
            .context-message {
                display: block;
                color: #c9c8c8;
                font-size: 12px;
            }
            .bottom-block {
                padding: 20px 16px 0px 0px !important;
                margin: 0px !important;
            }
        }
        .btn-cancel {
            border-radius: 3px;
            padding: 6px 18px 6px 18px;
            color: #fff;
            background-color: #767676;
        }
        .btn-save {
            border-radius: 3px;
            padding: 6px 18px 6px 18px;
            color: #fff;
            background-color: #ff7900;
        }
    }
}