:host {
    .sub-header {
        font-size: 15px;
        color: #2496f1;
        padding: 8px 12px;
        border-top: 0px dashed #eee;
        border-bottom: 1px solid #eee;
        margin: 0px 0 15px 0 !important;
    }
    .settings-border{padding:0;border: 1px solid #eee;border-radius: 5px}
    .but-border{padding:4px;margin:10px 0 0 0;border-top: 1px solid #eee;}
    .form-container {
       // height: -webkit-fill-available;
        span.required-icon{ 
            color:red;
        }
        .padding-zero {
            padding:0;
        }

        div.padding-zero {
            padding: 0;
        }
        .not-vailable-cer {
                color:red;
                font-size: 12px;
        }
        .btn-submit-cer {
            float: right;
        }
        .invalid-size {
            color:red;
        }
        label{
            font-weight: normal;
        }
        .flex-container {
            display: flex;
            .form-control{
                flex-grow:1;
                border-top-right-radius: 0;
                border-bottom-right-radius:0;
            }
        }
        .context-message{
            display: block;
            color: #c9c8c8;
            font-size: 12px;
        }
        .container-margin {
            margin-top: 10px;
        }

  .maxl{
  margin:0px ;
}
.inline{
  display: inline-block;
}
.inline + .inline{
  margin-left:10px;
}
.radio{
  color:#888;
  position:relative;
  margin:3px 0 5px 0;
}
.radio span{
  position:relative;
   padding-left:20px;
}
.radio span:after{
  content:'';
  width:17px;
  height:17px;
  border:1px solid #7dbc00;
  position:absolute;
  left:0;
  top:1px;
  border-radius:50%;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.radio input[type="radio"]{
   cursor: pointer; 
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
  
}
.radio input[type="radio"]:checked + span{
  color:#888;  
}
.radio input[type="radio"]:checked + span:before{
    content:'';
  width:11px;
  height:11px;
  position:absolute;
  background:#7dbc00;
  left:3px;
  top:4px;
  border-radius:50%;
  
}
    }
}