:host {
    span.required-icon {
        color: red;
    }
        .sub-header {
        font-size: 15px;
        color: #2496f1;
        padding: 8px 12px;
        border-top: 0px dashed #eee;
        border-bottom: 1px solid #eee;
        margin: 0px 0 15px 0 !important;
    }
   
    .but-border{padding:4px;margin:10px 0 0 0;border-top: 1px solid #eee;}
    .form-control{margin-top:10px}
    .invalid-size {
        color: red;
    }
    .btn-clear-logo {
        text-align: left;
        text-shadow: 0 0 0 #fff;
        &:hover {
            background-color: lightgray;
        }
    }
    .sub-content {
        font-size: 12px;
        color: #999;
        line-height: 1.5;
    }
    .upload-logo {
        float: left;
        margin: 0px 10px 0 0;
        width: 50px;
        height: 50px;
        border: 1px dotted #ccc;
    }
    .context-message {
        display: block;
        color: #c9c8c8;
        font-size: 12px;
    }
    .delete-icon {
        color: red;
        &:hover {
            cursor: pointer;
            font-size: 20px;
        }
    }
    .logo-name {
        color: rgba(5, 4, 4, 0.85);
        font-size: 12px;
    }
    .btn-disabled {
        cursor: not-allowed;
        opacity: 0.65;
        box-shadow: none;
    }
    .btn-form-submit{
        float: right;
    }
    .padding-zero{
        padding: 0 !important;
    }
    .container-margin {
        margin-top: 10px;
    }

.maxl{
  margin:0px ;
}
.inline{
  display: inline-block;
}
.inline + .inline{
  margin-left:10px;
}
.radio{
  color:#888;
  position:relative;
  margin:3px 0 5px 0;
}
.radio span{
  position:relative;
   padding-left:20px;
}
.radio span:after{
  content:'';
  width:17px;
  height:17px;
  border:1px solid #7dbc00;
  position:absolute;
  left:0;
  top:1px;
  border-radius:50%;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.radio input[type="radio"]{
   cursor: pointer; 
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
  
}

.radio input[type="radio"]:checked + span{
  color:#888;  
}
.radio input[type="radio"]:checked + span:before{
    content:'';
  width:11px;
  height:11px;
  position:absolute;
  background:#7dbc00;
  left:3px;
  top:4px;
  border-radius:50%;
  
}


}