:host{
    .error-style-1{
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
        margin-bottom: 0;
        height: 36px;
        padding: 6px 15px 0 15px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .error-style-2 {
        color: #a94442;
    }

}