<erag-table-layout>
    <ng-container class="table-header-left-side">
        <erag-button label='Add User' (click)="onBtnAddCLick()"></erag-button>
    </ng-container>
    <ng-container class="table-header-right-side">
        <div class="search-header">
            <erag-search (search)="onInputSearch($event)"></erag-search>
        </div>
    </ng-container>
    <ng-container class="table-body" *ngIf="userList?.length; else noDataMessage">
        <ng-container>
            <table class="table table-striped approve-td">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="tenantuserchkall" [checked]="isAllSelected" (change)="toggleUserList()" name="isAllSelected">
                        </th>
                        <th>User ID <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                        <th>First Name <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                        <th>Last Name / Organization <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                        <th>Status</th>
                        <th>Role <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                        <th>Email <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of userList; trackBy: trackByFn">
                    <tr>
                        <td>
                            <input type="checkbox" [checked]="item.checked" (change)="onCheckboxChange(item)">
                        </td>
                        <td>{{ item.userid }}</td>
                        <td>
                            {{item.firstname}}
                        </td>
                        <td>{{ item.lastname}}</td>
                        <td>{{ item.status}}</td>
                        <td>{{ item.role}}</td>
                        <td>{{ item.email}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </ng-container>
    <ng-container class="table-footer-left-side" *ngIf="userList?.length;">
        <div>
            <button class="btn btn-cust btn-footer-left-side" (click)="onBtnDeleteCLick()" [disabled]="!isUserSelected">Delete</button>
        </div>
    </ng-container>
    <ng-container class="table-footer-right-side" *ngIf="paginationControls.totalItems > paginationControls.itemsPerPage">
        <div class="pull-right">
            <erag-pagination [totalItems]="paginationControls.totalItems" [itemsPerPage]="paginationControls.itemsPerPage" (pageChange)="onPageChange($event)">

            </erag-pagination>
        </div>
        <div class="pull-right">
            <erad-dropdown direction="dropup" icon="arrow-circle-up" width="66px" [tenants]="paginationChoiceList" [selectedTenant]="paginationChoiceList[1]" [show]="showPaginationDropdown" (select)="onPaginationDropdownSelected($event)" (toggle)="onPaginationDropdownToggle()">
            </erad-dropdown>
        </div>
    </ng-container>
</erag-table-layout>

<ng-template #noDataMessage>
    <div class="text-center message" >
        <span>No Users are available</span>
    </div>
</ng-template>