<div class="col-sm-12 padding-zero settings-border" [loading]="showLoading">
    <div class="sub-header">Active Directory Sync</div>
    <form [formGroup]="adSyncForm" (ngSubmit)="onADSyncSubmit()">
        <div class="col-sm-12">
            <div class="col-sm-2 text-right">
                <label>Directory Name</label>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-12 padding-zero">
                    <input type="text" class="form-control" placeholder="Name of the Setting" id="connection_name" formControlName="connection_name">
                </div>
                <div class="col-sm-12 padding-zero">
                    <p class="context-message">Used only to help you identify the directory within our interface</p>
                </div>
                <div class="col-sm-12 padding-zero">
                    <control-error [parent]="adSyncForm" control="connection_name" label="Directory name">
                    </control-error>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-2 text-right">
                <label>Host</label>
            </div>
            <div class="col-sm-8 host-container">
                <div class="col-sm-7">
                    <div class="col-sm-12 padding-zero">
                        <input type="text" class="form-control col-sm-5" id="host" formControlName="host" placeholder="Host Name or Ip Address">
                    </div>
                    <div class="col-sm-12 padding-zero">
                        <p class="context-message">Hostname or IP and Port of your Active Directory domain Controller. The port is typically 389 for clear text LDAP or STARTTLS and 636 for LDAPs.
                        </p>
                    </div>
                    <div class="col-sm-12 padding-zero">
                        <control-error [parent]="adSyncForm" control="host" label="Host" [errors]="HostCustomErrors">
                        </control-error>
                    </div>
                </div>
                <div class="col-sm-5 padding-zero">
                    <div class="col-sm-12 padding-zero right-side-container">
                        <label>Port</label>
                        <input type="text" class="form-control" id="port" placeholder="port" formControlName="port">
                    </div>

                    <div class="col-sm-12 padding-zero">
                        <control-error [parent]="adSyncForm" control="port" label="Port" [errors]="PortCustomErrors">
                        </control-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-2 text-right">
                <label>Base DN</label>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-12 padding-zero">
                    <input type="text" class="form-control" id="basedn" placeholder="DC=example, DC=CM" formControlName="basedn">
                    <p class="context-message">
                        Specify an Active Directory OU or container in your domain that contains both the Users and Groups to sync, or specify the root DN to search your entire domain. For Example : DC=example, DC=CM.</p>
                </div>
                <div class="col-sm-12 padding-zero">
                    <control-error [parent]="adSyncForm" control="basedn" label="Base DN">
                    </control-error>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-2 text-right">
                <label>User Name</label>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-12 padding-zero">
                    <input type="text" class="form-control" id="connect_user" placeholder="Enter username to connect to DN" formControlName="connect_user">
                    <p class="context-message">Enter user name, this will be used to connect with AD server</p>
                </div>
                <div class="col-sm-12 padding-zero">
                    <control-error [parent]="adSyncForm" control="connect_user" label="User name">
                    </control-error>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-2 text-right">
                <label>Password</label>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-12 padding-zero">
                    <input type="password" class="form-control" id="connect_secret" placeholder="Enter secret to connect to DN" formControlName="connect_secret">
                    <p class="context-message">Enter password to authenticate with AD server using user name above.</p>
                </div>
                <div class="col-sm-12 padding-zero">
                    <control-error [parent]="adSyncForm" control="connect_secret" label="Password">
                    </control-error>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-right but-border">
            <button type="button" class="btn btn-sm" [disabled]="adSyncForm.invalid" (click)="validateConnection()">Validate Connection</button>
            <button type="submit" class="btn btn-success btn-sm" [disabled]="!(validConnection)">{{preloadData? 'Update':'Submit'}}</button>
        </div>
    </form>
</div>
