:host {
    
    .padding-0 {
        padding: 0px;
    }

    .min-width-80 {
        min-width: 80%;
    }

    .btn-controls-container {
           border-top:1px solid #ccc;
        margin: 20px 0px 2px 0px;
        width: 100%;
        // background-color: #ddd;
        padding: 10px 0 0 0 ;

        .btn-left-container {
            padding: 0px;
            display: inline-block;
        }

        .btn-right-container {
            padding: 0px;
            display: inline;
            text-align: right;
        }
    }
}
