<div class="col-sm-12 padding-zero settings-border" [loading]="isLoading">
    <div class="sub-header">Identity Provider (IDP)</div>
    <form [formGroup]="idpForm" (ngSubmit)="onSubmit()">
        <div class="col-sm-12">
            <div class="col-sm-2 text-right">
                <label>IDP URL</label>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-12 padding-zero">
                    <input type="text" class="form-control col-sm-10 col-md-10 col-lg-9" id="idpUrl" placeholder="Enter Identity Provider Login URL"
                        formControlName="idpUrl">

                    <div class="col-sm-12 padding-zero">
                        <span class="context-message">Enter Identity Provider Login URL.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <control-error [parent]="idpForm" 
                                control="idpUrl" 
                                label="Idp Url" 
                                [errors]="customErrors">
                </control-error>
            </div>
        </div>
        <div class="col-sm-12 container-margin">
            <div class="col-sm-2 text-right">
                <label for="sercurity-token">Security Token
                            <span class="sercurity-token">*</span>
                        </label>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-12 padding-zero flex-container">
                    <input type="text" class="form-control" id="securityToken" placeholder="Please upload Idp Security Token" formControlName="securityToken">

                    <erag-file-upload [show]="true" 
                                      [authToken]="authToken" 
                                      [fileType]="fileType" 
                                      maxSize="maxSize" 
                                      fileRef="security_token"
                                      [extra]="extraUploadIpdUrl" 
                                      [executeUploadFile]="securityTokenUploadReady" 
                                      [api]="api"
                                      [userInfo]="tenantUploadInfo"
                                      (addFile)="onSecurityTokenAddingFile($event)" 
                                      (addInvalidFile)="onAddingInvalidSecurityToken($event)"
                                      (uploadSuccess)="onSecurityTokenUploadSuccess($event)"
                                      (uploadFailure)="onSecurityTokenUploadFailure($event)">
                    </erag-file-upload>
                </div>
                <div class="col-sm-12 padding-zero">
                    <span class="context-message">Upload Tenant Specific Security Token.</span>
                </div>

                <div class="col-sm-12 padding-zero">
                        <erag-alert-message [show]="invalidSecurityToken">
                            Please select {{fileType}} file for Security Token.
                        </erag-alert-message>
                </div>
            </div>
        </div>

        <div class="col-sm-12 but-border">
            <button type="submit" class="btn btn-success btn-sm btn-form-submit" 
                    [disabled]="checkFormInvalidStatus()">
                {{preloadData ? 'Update': 'Submit'}}
            </button>
        </div>
    </form>
</div>
<erag-toaster [show]="showToastr" [config]="toastrConfig"></erag-toaster>
