
:host {
    .padding-zero{
        padding-left:0;
        padding-right: 0;
        margin-top :8px;
    }
    .btn-cust {
        border-radius: 3px;
        padding: 6px 18px 6px 18px;
        color: #fff;
        background-color: #ff7900;
    }
    .btn-add {
        background-color: #73c228;
        border-radius: 3px;
        color: #fff;
        margin-left: -20px;
        padding: 5px 20px 5px 20px;
        &:focus {
            outline: none;
        }
    }
}

.search-block-inner {
    background-color: #F0F0F0;
    margin: 0px 0px 0px 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid #eee;
    padding: 4px 5px 3px 5px;
    border: 1px solid #dedede;
    border-radius: 4px
}

