:host {
    .header-title {
        font-size: 18px;
        border-bottom: 1px solid #ddd;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .tenant-url-container {
        margin-top: 15px;
    }
    .paddingZero {
        padding: 0px;
    }
    .btn-cust {
        border-radius: 3px;
        padding: 6px 18px 6px 18px;
        color: #fff;
        background-color: #ff7900;
    }
}