:host {
    ul{
        list-style-type: none;  
    }
   .report-container{
        font-family: thdCustomFont;
        font-weight: 300;
        font-size: 16px;
        padding: 0;
        margin: 20px 0 2px 0;

        .data-row{
            padding: 5px 5px 5px 15px;
            border-bottom: 1px solid #2d766b;
            .label{
                text-align: left;
                display: inline-block;
                width: 70px;
                color: white;
            }
            .info{
                display: inline-block;
                text-align: left;
               
                color: #87ebd1;
            }

            ul.ip-count{
                li:last-child{
                    border-bottom: none !important;
                }
                color: #f0f7b7;
                padding: 0;
                li{
                    margin-top: 5px;
                    .ip{
                        padding-left: 23px;
                    }
                    .count-label{
                        float: right;
                        padding-right: 15px;
                        
                    }
                    .ip-address{
                        color: #00f0ff;
                        &:hover{
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                    .ip-address-true{
                        color: #8aff00;
                    }
                    .count-value{
                        color: white;
                        float: right;
                        padding-right: 17px;
                    }
                }
                
            }
        }
   }
}