:host {
    .main-content-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: white;
        margin-top: 50px;
        padding: 0 0 0 51px;
        .marginleftallpages {
            background-color: #fff;
            border: 1px solid #dedede;
            border-radius: 4px;
            margin-top: 60px;
            padding: 0;
        }
        .main-header-container{
            position: fixed;
            z-index: 3;
            background: white;

            .main-header-right-side{
                padding: 0;
                text-align: right;
                display: block;
                padding-right: 50px;
                padding-top: 7px;

                .dropdown-label{
                    border: solid #d8d6d6 1px;
                    width: 255px;
                    float: right;
                    height: 35px;
                    border-radius: 5px;
                    padding-top: 6px;
                    text-align: center;
                }
                .hoverable{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        
        .home-view{
            padding: 0;
            height:100%;
            background-color: #f9f9f9;
        }
    }
}

html,
body {
    overflow: auto;
    height: 100%
}