<div class="alert" role="alert">
    Please create password for Local ERAG account
    <form [formGroup]="activationForm" novalidate (ngSubmit)="submit()">
        <div class="text-right text-small"><span class="error">*</span>Required Fields</div>
        <br>
        <ng-template #validationInfo>
            <div>
                <h4>Your password must have:</h4>
                <ol>
                    <li>8 or more characters</li>
                    <li>Password first character should be alphabetic</li>
                    <li>Upper & lower case letters</li>
                    <li>Atleat one number</li>
                    <li>Atleast one special character</li>
                    <li>Passwords must match</li>
                </ol>
            </div>
        </ng-template>
        <div class="form-group">
            <label><span class="error">*</span>Password
                               <a href="javascript:void(0);" triggers="focus" [popover]= "validationInfo" placement="top" class="glyphicon glyphicon-info-sign"></a>
                            </label>

            <input class="form-control" type="password" placeholder="Enter Password" formControlName="password" (blur)="resetFormValidations()">
            <control-error [parent]="activationForm" control="password" label="Password" [errors]="{ required : 'is required' , minlength : 'should be minimum 8 characters', invalid : 'is invalid'}">
            </control-error>
        </div>
        <div class="form-group">
            <label><span class="error">*</span>Confirm Password
                            </label>
            <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            <control-error [parent]="activationForm" control="confirmPassword" label="Confirm Password" [errors]="{ required : 'is required' , minlength : 'should be minimum 8 characters', invalid : 'is invalid', mismatch : 'not matched'}">
            </control-error>
        </div>
        <br>
        <button type="submit" id="sign-in-margin" [disabled]="activationForm.invalid" class="btn btn-block btn-common">Save</button>
    </form>
</div>