<erag-table-layout  style="margin-top:15px">
    <ng-container class="table-header-right-side">
        <div class="search-header">
            <erag-search (search)="onInputSearch($event)"></erag-search>
        </div>
    </ng-container>
    <ng-container class="table-body">
        <ng-container *ngIf="groupEndUserList?.length; else noDataMessage">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="checkAllGroup" 
                                  [checked]="isAllSelected"
                                  (change)="toggleGroupEndUserList()" name="isAllSelected">
                        </th>
                        <th>User Name <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                        <th>User ID <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                        <th>Email <i class="glyphicon glyphicon-triangle-bottom"></i></th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of groupEndUserList; trackBy: trackByFn">
                    <tr>
                        <td>
                            <input type="checkbox" [checked]="item.checked" (change)="onCheckboxChange(item)">
                        </td>
                        <td>{{item.firstname? item.lastname : item.firstname +", "+item.lastname}}</td>
                        <td>
                            {{item.ldapid}}
                        </td>
                        <td>{{item.email}}</td>
                        <td>{{item.status}}</td>

                    </tr>
                </tbody>
            </table>
        </ng-container>
    </ng-container>
    <ng-container class="table-footer-left-side" *ngIf="groupEndUserList?.length;">
        <div>
            <button class="btn btn-cust btn-footer-left-side" (click)="onActionBtnClick('delete')" [disabled]="!isGroupEndUserSelected">Delete</button>
            <button class="btn btn-cust btn-footer-left-side" (click)="onActionBtnClick('resend')" [disabled]="!isGroupEndUserSelected" *ngIf="isShowResendMail">Resend</button>
        </div>
    </ng-container>

    <ng-container class="table-footer-right-side" *ngIf="paginationControls.totalItems > paginationControls.itemsPerPage">
        <div class="pull-right">
            <erag-pagination [totalItems]="paginationControls.totalItems"
                             [itemsPerPage]="paginationControls.itemsPerPage"
                             (pageChange)="onPageChange($event)">
            </erag-pagination>
        </div>
        <div class="pull-right">
            <erad-dropdown  direction="dropup" 
                            icon="arrow-circle-up"
                            width ="66px"
                            [tenants]="paginationChoiceList" 
                            [selectedTenant]="paginationChoiceList[1]"
                            [show]="showPaginationDropdown" 
                            (select)="onPaginationDropdownSelected($event)" 
                            (toggle)="onPaginationDropdownToggle()">
            </erad-dropdown>
        </div>
    </ng-container>
</erag-table-layout>

<ng-template #noDataMessage>
    <div class="text-center message">
        <span>No Group End Users are available</span>
    </div>
</ng-template>