:host {
    .map-block {
        margin-left: 0;
        margin-top: 45px;
        vertical-align: top;
        padding: 0px;
        height: 92%;
        background-color: #a7cdf2;
        .map-height {
            height: 100%;
            padding: 0px;
            vertical-align: top;
            .ip-report-container {
                position: absolute;
                right: 30px;
                top: 10px;
                z-index: 2;
                opacity: 0.8;
                .pagination-container {
                    height: 39px;
                    background-color: #8cc1e9;
                    padding-top: 2px;
                    text-align: center;
                }
            }
        }
    }
    .ip-details-pagination {
        height: 39px;
        padding-top: 2px;
        text-align: center;
        erag-pagination {
            float: right;
            padding-top: 5px;
        }
    }
}